# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
# test files
test/

# pycache
__pycache__/

# debug
/.vscode

# db
tasks.db